.konashi-content {
  max-width: 1000px;
  padding: 3rem 2rem;
  margin: 0 auto;
}

.konashi-content .mdl-cell {
  padding: 0.3rem 1rem 0 ;
}

.konashi-content table,
.konashi-content .panel {
  max-width: 500px;
  min-width: 200px;
  margin: 0 auto;
}

.konashi-content .mdl-data-table thead th {
  text-align: center;
}

.konashi-content .mdl-data-table .mdl-button {
  min-width: 7rem;
}

.konashi-content .analog-pin-indicator {
  width: 150px;
  margin: 0 auto;
}

.konashi-content .mdl-textfield {
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 479px) {

  .konashi-content {
    padding: 0;
  }

  .konashi-content .mdl-data-table {
    width: 100%;
  }

  .konashi-content .mdl-data-table th,
  .konashi-content .mdl-data-table td {
    padding-left: 4px;
    padding-right: 4px;
  }
}
